footer{
    width: 100%;
    height: 1080px;
}

.zagolovok{
    color: #263238;
    font-size: 64px;
    text-align: center;
}

button{
    background-color: #4CAF4F;
    border: 0px white;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    width: 178px;
    height: 52px;
    margin-left: 850px;
}

.footer_down{
    margin-top: 32px;
    background-color: #263238;
    width: 100%;
    height: 328px;
}

.img_footer .img_one{
    margin-top: 64px;
    margin-left: 165px;
}

.under_footer_logo{
    color: white;
    font-size: 20px;
    margin-bottom: 234px;
    margin-left: 180px;
}

.footer_right .glavn{
    font-size: 20px;
    margin-top: -350px;
    text-align: center;
    color: white;
}

.footer_right .little{
    font-size: 14px;
    color: white;
    text-align: center;
}

.footer_rr{
    margin-left: 500px;
    margin-top: 140px;
}

.footer_rr .support{
    font-size: 20px;
    margin-top: -350px;
    text-align: center;
    color: white;
}

.footer_rr .little{
    font-size: 14px;
    color: white;
    text-align: center;
}

.inputs{
    font-size: 20px;
    color: white;
    margin-left: 1450px;
    margin-top: -225px;
}

.input_first{
    width: 255px;
    height: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}