*,
::before,
::after{
    
}
body {
    width: 100%;
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
f
}
.img_first {
margin-right: 49px;
}
.first {
    color: black;
    margin-top: 80px;
}
.first_div {
    display: flex;
   position: relative;
   margin-left: 144px;
}
.first_div button {
    width: 151px;
    height: 52px;
    background-color: #4CAF4F;
    border: 0px;
    color: white;
    border-radius: 4px;
}
.second {
    margin-left: 144px;
    margin-top: 64px;
    display: flex;
}
.info h1 {
    font-size: 36px;
    margin-bottom: -30px;
}
.grey {
    color: #4D4D4D;
}
.green {
    color: #4CAF4F;
    font-weight: bold;
}
.info p {
    margin-top: 30px;
    font-size: 16px;
}
.info {
    margin-right: 204px;
}
.fird {
    margin-top: 48px;
    margin-left: 144px;
    display: flex;
    position: relative;
}
.fird_pana {
    margin-top: 30px;
    margin-left: 49px;
    color: #4D4D4D  ;
}
.fird_pana h1 {
    font-size: 36px;
}
.fird_pana p{
    font-size: 14px;
    margin-top: -16px;
}
.tesla {
    display: flex;
    margin-top: 49px;
    margin-left: 144px;
}
.tesla_text {
    color: #717171;
    margin-left: 78px;
}
.another {
    color: #89939E;
}
.tesla_text img {
    margin-top: 5px;
}
.cards {
    text-align: center;
    color: #4D4D4D;
}
.cards p {
    font-size: 16px;
}
.cards h1 {
    font-size: 36px;
    margin-bottom: -10px;
}
.three_cards {
    display: flex;
    margin-left: 370px;
}
.three_cards img {
    margin-right: 24px;
}
footer{
    width: 100%;
    background-color: #F5F7FA;
}

.zagolovok{
    color: #263238;
    font-size: 64px;
    text-align: center;
    background-color: #F5F7FA;
    font-width: bold;
}

.button__1{
    background-color: #4CAF4F;
    border: 0px white;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    width: 178px;
    height: 52px;
    margin-left: 850px;
}

.footer_down{
    margin-top: 32px;
    background-color: #263238;
    width: 100%;
    height: 328px;
}

.img_footer .img_one{
    margin-top: 64px;
    margin-left: 165px;
}

.under_footer_logo{
    color: white;
    font-size: 20px;
    margin-bottom: 234px;
    margin-left: 180px;
}

.footer_right .glavn{
    font-size: 20px;
    margin-top: -350px;
    text-align: center;
    color: white;
}

.footer_right .little{
    font-size: 14px;
    color: white;
    text-align: center;
}

.footer_rr{
    margin-left: 500px;
    margin-top: 140px;
}

.footer_rr .support{
    font-size: 20px;
    margin-top: -350px;
    text-align: center;
    color: white;
}

.footer_rr .little{
    font-size: 14px;
    color: white;
    text-align: center;
}

.inputs{
    font-size: 20px;
    color: white;
    margin-left: 1450px;
    margin-top: -225px;
}

.input_first{
    width: 255px;
    height: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}
header {
    width: 100%;
    height: 60px;
    background-color: #F5F7FA;
}
.header_v {
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 100px;
    
}

.logo_1 {
    width: 100%;
    height: 100%;
}

.menu-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    
}

.menu {
    text-decoration: none;
    color: black;
}

.button {
    display: flex;
    background-color: #4CAF4F;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.login {
    align-items: center;
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    gap: 24px;
}

.dlgap {
    display: flex;
    gap: 50px;
}

.log {
    color: #4CAF4F;
}
.main1 {
    justify-content: center;
    display: flex;
    gap: 105px;
    background-color: #F5F7FA;
    height: 550px;
}
.main1-h1 {
    width: 700px;
    font-size: 80px;
}
.small-text1 {
    font-size: 18px;
}
.main1-button {
    font-size: 16px;
    width: 158px;
    height: 52px;
    background-color: #4CAF4F;
    border: 0px;
    border-radius: 4px;
    color: white;
}
.green {
    color: #4CAF4F;
}

.main2 {
    text-align: center;
}
.h2-main2 {
    font-size: 40px;
    margin-bottom: 0px;
}
.small-text2 {
    font-size: 20px;
    margin-bottom: 50px;
}
.imgs-main2 {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.main3 {
    text-align: center;
    margin-top: 60px;
}
.h2-main3 {
    font-size: 40px;
    margin-bottom: 0px;
    width: 550px;
    margin: 0 auto;
}
.small-text3 {
    font-size: 20px;
    margin-bottom: 50px;
}
.blocks-main3 {
    display: flex;
    justify-content: center;
    gap: 200px;
}
.block-main3 {
    width: 300px;
}
.h2-block-main3 {
    font-size: 40px;
}
.small-text-block-main3 {
    font-size: 20px;
}

.main4 {
    display: flex;
    justify-content: center;
}
.text-main4 {
    width: 560px;
}
.h2-main4 {
    font-size: 40px;
}
.small-text4 {
    font-size: 20px;
}
.button-main4 {
    font-size: 16px;
    width: 158px;
    height: 52px;
    background-color: #4CAF4F;
    border: 0px;
    border-radius: 4px;
    color: white;

}







